<h1 id="nav">Eat-Da-Burger!</h1>

<div class="container">
    <div class="row">
        <div class="col-4 text-center" id="Left">
                <h2 class="text-white text-center">Burgers to Devour</h2>
                <ul>
                    {{#each burgers}}
                    {{#unless devoured}}
                    <li class="text-white text-center">{{this.burger_name}}</li>
                    <button type="button" class="btn btn-info btn-sm devBtn text-center" data-id="{{this.id}}">Devour it!</button>
                    {{/unless}}
                    {{/each}}
                </ul>
        </div>

        <div class="col-4" id="middle">
            <h2 class="text-white text-center">Add a Burger</h2>
            <img src="/assets/burger.jpg" alt="veggie burger" width="350" class="rounded">
            <form id="create-form">
                <div class="form-group">
                    <input type="text" class="form-control text-center" id="bur" aria-describedby="enter burger name"
                        placeholder="Enter burger name">
                </div>
                <div class="d-flex justify-content-center">
                    <button type="button" id="addBtn" class="btn btn-info btn-sm">Add a
                        Burger</button>
                </div>
            </form>
        </div>

        <div class="col-4" id="Right">
            <h2 class="text-white text-center">Devoured Burgers!</h2>

            <ul>
                {{#each burgers}}
                {{#if devoured}}
                <li class="text-white text-center">{{this.burger_name}}</li>
                {{/if}}
                {{/each}}
            </ul>
        </div>
    </div>
</div>