<nav class="navbar navbar-expand-lg navbar-light bg-light">
  {{!-- <a class="navbar-brand justfi" href="#">Burgers</a> --}}
<h1 id="navTitle">Eat-Da-Burger!</h1>
</nav>
<div class="container">
    <div class="row">

        <div class="col-4" id="Left">
            <h2 class="text-white">Burgers to Devour</h2>

            <ul>
                {{#each burgers}}
                {{#unless devoured}}
                <li class="text-white">{{this.burger_name}}</li>
                <button type="button" class="btn btn-info btn-sm">Devour it!</button>
                {{/unless}}
                {{/each}}

            </ul>

        </div>

        <div class="col-4" id="middle">
            <h2 class="text-white text-center">Add a Burger</h2>
            <img src="/assets/burger.jpg" alt="veggie burger" width="340" class="rounded">
            <form id="create-form">
                <div class="form-group">
                    <input type="text" class="form-control" id="bur" aria-describedby="enter burger name" placeholder="Enter burger name">

                </div>
                <button type="button" class="btn btn-info btn-sm">Add a Burger</button>
            </form>
        </div>

        <div class="col-4" id="Right">
            <h2 class="text-white">Devoured Burgers!</h2>

            <ul>
                {{#each burgers}}
                {{#if devoured}}
                <li class="text-white">{{this.burger_name}}</li>
                {{/if}}
                {{/each}}
            </ul>
        </div>
    </div>
</div>